#containerDark{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    opacity: 0;
    z-index: 5;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    cursor: pointer;
    &.show {
        opacity: 0.7;
        pointer-events: auto;
        z-index: 10;
    }
}