#containerIntroduction {
    @include flex($justify: start);
    gap: 10px;
    padding: 20px;

    height: 100%;
    overflow-y: auto;

    background-color: #ffffff21;
    border: 1px solid #ffffff1c;
    border-radius: 25px;
    animation: fadeIn 0.3s ease-in-out forwards;
    @include respond(lg){
        max-width: 800px;
    }
}

#infoHeading {
        padding: 20px;
        width: 100%;
        z-index: 2;
}

#containerInfo{
    position: relative;
    width: 100%;
    border-radius: $border-radius;
    gap: 10px;
    animation: infoAnimation 2s ease-in-out forwards;
    @include flex($direction:column, $justify: start, $align: start);
    @include respond(md){
        flex-direction: row;
    }
    #containerImg{
        width: 100%;
        height: 50%;
        min-width: 115px;
        border: 1px solid rgba(255, 255, 255, 0.248);
        border-radius: $border-radius;
        overflow: hidden;
        @include respond(md){
            width: 50%;
            max-width: 200px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center 25%;
            @include respond(lg){
                object-position: calc(50% + 10px) 25%;
            }
        }
    }
    #containerInfoText {
        background-color: #ffffff68;
        border: 1px solid rgba(255, 255, 255, 0.248);
        padding: 20px;
        border-radius: $border-radius;
        @include flex($align: start);
        @include respond(md){
            padding: 40px;
        }
        p{
            margin: 10px;
            @include respond(md){
            margin: 20px;
        }
        }
    }
}
#competencesHeading {
        padding: 20px;
        width: 100%;
        z-index: 2;
}
#competencesContainer{
    @include flex($direction: row, $justify: center);
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    animation: textAnimation 2s ease-in-out forwards;
    p {
        color: #bebebe;
        border: 1px solid rgba(255, 255, 255, 0.248);
        background-color: #ffffff1c;
        padding: 15px;
        border-radius: 5px;
        font-weight: 700;
    }
}