#navBar {
position: relative;
border-radius: 15px;
width: 100%;

z-index: 6;
@include respond(lg){
    height: 0;
}
#spanContainer {
    position: absolute;
    height: 20px;
    width: 20px;
    margin: 10px;
    z-index: 5;
    @include flex;
    cursor: pointer;
    transition: all 1.5s ease;
    animation: spinBack 1s ease forwards;
    span{ 
        background-color: $secondary-color;
    }
    #span1 {
        display: block;
        position: absolute;
        width: 5px;
        height: 20px;
        border-radius: 10px;
        transition: all 1.5s ease;
        z-index: 2;
        transform: rotate(90deg) translate(0px, 0px);
    }
    #span2 {
        display: block;
        position: absolute;
        width: 5px;
        height: 20px;
        border-radius: 10px;
        opacity: 1;
        transition: all 0.3s ease;
        z-index: 1;
            &.active {
            opacity: 0;
        }
    }
    &.hover {
        animation: spin 1s ease forwards;
    }
}
nav {
    @include flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: $accent-color;
    border-radius: 15px;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    @include respond(md) {
        flex-direction: row;
        gap: 20px;
        }
    &.show {
        animation: menuMobile 2s ease-in-out forwards;
        a {
            transition: opacity 0.5s ease 1s;
            opacity: 1;
        }
    }
    &.hide {
        animation: menuMobileClose 2s ease-in-out forwards;
        a {
            transition: opacity 0.2s ease 0.2s;
            opacity: 0;
        }
    }
    }
    a {
        font-style: $alumni-sans;
        color: $secondary-color;
        font-weight: 900;
        text-transform: uppercase;
        position: relative;
        opacity: 0;
        cursor: pointer;
        &::after {
            content: "";
            border-radius: 3px;
            position: absolute;
            width: 100%;
            height: 3.5px;
            left: 0;
            bottom: -2px;
            background-color: $secondary-color;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.35s ease-in-out;
        }
        &:hover::after, 
        &:focus-visible::after {
                transform: scaleX(1);
                opacity: 1;
            }
    }
}
