/* Colors */

$primary-color: #2c2c2c;
$secondary-color: #f6f6f6;
$accent-color: #D97127;
$bttn-color: #f6f6f6;
$bttn-hover-color: #ffffff91;

/* Fonts */
$alumni-sans: "Alumni Sans", sans-serif;

/* Font sizes */

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.5rem;

$h1-desktop: 3rem;
/* Border */
$border-radius: 25px;
$border: 5px solid $accent-color;

/* Breakpoints for media queries */
$grid-breakpoints: (sm: 400px, md: 575px, lg: 900px);