#wrapper {
    padding: 10px;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include respond(lg){
        @include flex($direction: row, $justify: stretch, $align: start);
    }
}
#modalRoot{
    position: fixed;
    inset: 0;
    min-width: 320px;
    z-index: 11;
    pointer-events: none;
}