@keyframes menuMobile {
    0% {width: 40px; height: 40px;opacity: 0;padding: 0;}
    10% {width: 40px; height: 40px;opacity: 1;padding: 0;}
    30% {width: 100%; height: 40px; opacity: 1; padding: 0px;}
    100% {width: 100%; height: 200px;opacity:1;padding: 10px;}
}

@keyframes menuMobileClose {
    0% {width: 100%; height: 200px;opacity:1;padding: 10px;}
    30% {width: 100%; height: 40px; opacity: 1; padding: 0px;}
    90% {width:40px; height: 40px; opacity:1; padding:0;}
    100% {width: 40px; height: 40px;opacity: 0;padding: 0;}
}

@keyframes menuDesktop {
    10% {width: 20px; height: 0px;opacity: 0;padding: 0;}
    30% {width: 20px; height: 50px;opacity: 1;padding: 0;}
    70% {width: 50%; height: 50px; opacity: 1; padding: 0px;}
    100% {width: 50%; height: 50px;opacity:1;padding: 10px;}
}

@keyframes textAnimation{
    0% {opacity:0; transform: translateY(100%);}
    50% {opacity: 0;}
    100% {opacity: 1;transform: translateY(0%);}
}

@keyframes rotate-in-center {
  0% {transform: rotate(-360deg); opacity: 0;}
  100% {transform: rotate(0);opacity: 1;}
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg);}
}

@keyframes spinBack {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg);}
}

@keyframes underline {
    from {  transform: scaleX(0);
            transform-origin: left;
            opacity: 0; }
    to {
        transform: scaleX(1);
            transform-origin: left;
                opacity: 1;
    }
}