p{
    font-family: Arial, Helvetica, sans-serif;
    color: $secondary-color;
}

 h1 {
    color: $accent-color;
    font-family: $alumni-sans;
    font-weight: 700;
    font-size: $h1 !important;
    text-transform: uppercase;
    animation: textAnimation 1s ease-in-out forwards;
    @include respond(lg) {
        font-size: $h1-desktop !important;
    }
    &::after {
        content: "";
        border-radius: 3px;
        position: absolute;
        width: 100%;
        height: 5px;
        left: 0;
        opacity: 0;
        bottom: 0px;
        background-color: $accent-color;
        animation: underline 1s ease-in-out 1.7s forwards;
    }
}
h2{
    font-family: $alumni-sans;
    font-weight: 700;
    font-size: $h2;
    text-transform: uppercase;
    animation: textAnimation 1.5s ease-in-out forwards;
}

h3{
    font-family: $alumni-sans;
    color: $secondary-color;
    font-weight: 700;
    font-size: $h3;
    text-transform: uppercase;
    animation: textAnimation 1.5s ease-in-out forwards;
    &::after {
        content: "";
        border-radius: 3px;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        opacity: 0;
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0.248);
        animation: textAnimation 1.5s ease-in-out forwards;
    }
}