/* Colors */

$primary-color: #281E16;
$secondary-color: #FFE76E;
$accent-color: #D97127;
$gradient-color: #37291E;

/* Fonts */
$alumni-sans: "Alumni Sans Pinstripe", sans-serif;

/* Font sizes */

$h1: 48px;
$h2: 32px;

/* Border */
$border-radius: 25px;
$border: 5px;

/* Breakpoints for media queries */
$grid-breakpoints: (sm: 480px, md: 768px, lg: 800px);