@import "./variables";
@import "./mixins";
@import "./keyframes";
@import "./layout";
html, body {
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#wrapper {
    padding: 10px;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    gap: 10px;
    @include respond(lg){
        @include flex($direction: row, $justify: stretch, $align: start);
    }
    #navBar {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 6;
        #spanContainer {
            position: absolute;
            height: 20px;
            width: 20px;
            margin: 10px;
            z-index: 5;
            @include flex;
            cursor: pointer;
            transition: all 1.5s ease;
            animation: spinBack 1s ease forwards;
            span{ 
                background-color: $accent-color;
            }
            #span1 {
                display: block;
                position: absolute;
                width: 5px;
                height: 20px;
                border-radius: 10px;
                transition: all 1.5s ease;
                z-index: 2;
                transform: rotate(90deg) translate(0px, 0px);
                &.active {
                    background-color: $secondary-color;
                }
            }
            #span2 {
                display: block;
                position: absolute;
                width: 5px;
                height: 20px;
                border-radius: 10px;
                opacity: 1;
                transition: all 1s ease;
                z-index: 1;
            }
            &.hover {
                animation: spin 1s ease forwards;
            }
        }
        nav {
            @include flex;
            width: 0;
            background-color: $accent-color;
            border-radius: 15px;
            position: absolute;
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            @include respond(md) {
                flex-direction: row;
                gap: 20px;
                }
            &.show {
                animation: menuMobile 2s ease-in-out forwards;
                a {
                    transition: opacity 0.5s ease 1s;
                    opacity: 1;
                }
            }
            &.hide {
                animation: menuMobileClose 2s ease-in-out forwards;
                a {
                    transition: opacity 0.2s ease 0.2s;
                    opacity: 0;
                }
            }
            }
            a {
                font-style: $alumni-sans;
                color: $secondary-color;
                font-weight: 900;
                text-transform: uppercase;
                position: relative;
                opacity: 0;
                cursor: pointer;
                &::after {
                    content: "";
                    border-radius: 3px;
                    position: absolute;
                    width: 100%;
                    height: 3.5px;
                    left: 0;
                    bottom: -2px;
                    background-color: $secondary-color;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.35s ease-in-out;
                }
                &:hover::after, 
                &:focus-visible::after {
                        transform: scaleX(1);
                        opacity: 1;
                    }
            }
        }
    }
    #containerAll {
        border: $border;
        border-radius: $border-radius;
        height: 210px;
        padding: 5px;
        background-color: $secondary-color;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.236));
        @include flex;
        @include respond(md){
            height: 100%;
            width: 100%;
            min-width: 400px;
        }
        #containerHome {
            height: 100%;
            z-index: 1;
            @include flex;
            h2 {
                color: $accent-color;
            }
        }
    }

#containerIntroduction {
    @include flex($justify: start);
    gap: 10px;
    padding: 20px;

    height: 100%;
    overflow-y: auto;

    background-color: #ffffff21;
    border: 1px solid #ffffff1c;
    border-radius: 25px;
    @include respond(lg){
        max-width: 600px;
    }
}

#infoHeading {
        padding: 20px;
        width: 100%;
        z-index: 2;
}

#containerInfo{
    position: relative;
    width: 100%;
    border-radius: $border-radius;
    gap: 10px;
    animation: infoAnimation 1.5s ease-in-out forwards;
    @include flex($direction:column, $justify: start, $align: start);
    @include respond(md){
        flex-direction: row;
    }
    #containerImg{
        height: 300px;
        width: 100%;
        min-width: 115px;
        border-radius: $border-radius;
        overflow: hidden;
        z-index: 1;
        @include respond(md){
            width: 50%;
        max-width: 200px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center 25%;
            z-index: 1;
        }
    }
    #containerInfoText {
        background-color: #ffffff68;
        border: 1px solid rgba(255, 255, 255, 0.248);
        padding: 60px;
        min-height: 300px;
        border-radius: $border-radius;
        @include flex($align: end);
    }
}
#competencesHeading {
        padding: 20px;
        width: 100%;
        z-index: 2;
}
#competencesContainer{
    @include flex($direction: row, $justify: space-evenly);
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    animation: textAnimation 1.5s ease-in-out forwards;
    p {
        border: 1px solid rgba(255, 255, 255, 0.248);
        background-color: #ffffff1c;
        padding: 15px;
        border-radius: 5px;
        font-weight: 700;
    }
}
        #containerDark{
            position: fixed;
            height: 100vh;
            width: 100vw;
            background-color: #000000;
            opacity: 0;
            z-index: 5;
            transition: opacity 1s ease-in-out;
            pointer-events: none;
            cursor: pointer;
            &.show {
                opacity: 0.7;
                pointer-events: auto;
                z-index: 10;
            }
        }
         #containerProjects {
            height: 0%;
            width: 90%;
            max-width: 800px;
            transform: translateX(-50%);
            left: 50%;
            background-color: $accent-color;
            position: absolute;
            border-radius: $border-radius;
            z-index: 11;
            opacity: 1;
            overflow: hidden;
            filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.37));
            transition: height 1s ease-in-out;
            &.show {
                height: 90%;
                opacity: 1;
            }
            #projectTitle {
                font-style: $alumni-sans;
                color: $secondary-color;
                font-weight: 900;
                text-transform: uppercase;
                font-size: $h2;
                margin: 20px;
                animation: textAnimation 1.5s ease-in-out forwards;
            }
            #containerSpan{
                position: absolute;
                height: 20px;
                width: 20px;
                right: 20px;
                top: 20px;
                z-index: 7;
                @include flex;
                transition: all 1.5s ease;
                animation: spinBack 1s ease forwards;
                cursor: pointer;
                &.hover {
                animation: spin 1s ease forwards;
            }
            }
            #span3 {
                display: block;
                position: absolute;
                background-color: $secondary-color;
                width: 5px;
                height: 20px;
                border-radius: 10px;
                opacity: 1;
                transform: rotate(90deg) translate(0px, 0px);
            }
        }
        #cardContainer {
            background-color: #ffe76e2d;
            width: auto;
            border-radius: $border-radius;
            margin: 20px;
            padding: 30px;
            border: 1px solid #ffe76e41;
            #cardDescription{
                color: white;
            }
            #bttnDiv{
                margin-top: 20px;
            }
            #keywords {
                color: #ffffff5f;
                font-style: italic;
            }
            #liveBttn{
                @include bttn;
            }
            #gitBttn{
                margin: 15px;
                @include bttn;
            }
        }