@import "./variables";
@import "./mixins";
@import "./keyframes";

#wrapper {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, $gradient-color, $primary-color);
    position: relative;
    #navBar {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 6;
        #spanContainer {
            position: absolute;
            height: 20px;
            width: 20px;
            margin: 10px;
            z-index: 5;
            @include flex;
            cursor: pointer;
            transition: all 1.5s ease;
            animation: spinBack 1s ease forwards;
       
            #span1 {
                display: block;
                position: absolute;
                background-color: $secondary-color;
                width: 5px;
                height: 20px;
                border-radius: 10px;
                transition: all 1.5s ease;
                z-index: 2;
                transform: rotate(90deg) translate(0px, 0px);
                &.active {
                    background-color: $primary-color;
                }
            }
            #span2 {
                display: block;
                position: absolute;
                background-color: $secondary-color;
                width: 5px;
                height: 20px;
                border-radius: 10px;
                opacity: 1;
                transition: all 1s ease;
                z-index: 1;
                &.active {
                    background-color: $primary-color;
                    opacity: 0;
                }
            }
            &.hover {
                animation: spin 1s ease forwards;
            }
        }
        nav {
            @include flex;
            width: 0;
            background-color: $secondary-color;
            border-radius: 15px;
            position: absolute;
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            @include respond(md) {
                flex-direction: row;
                gap: 20px;
                }
            &.show {
                animation: menuMobile 2s ease-in-out forwards;
                a {
                    transition: opacity 0.5s ease 1s;
                    opacity: 1;
                }
            }
            &.hide {
                animation: menuMobileClose 2s ease-in-out forwards;
                a {
                    transition: opacity 0.2s ease 0.2s;
                    opacity: 0;
                }
            }
            }
            a {
                font-style: $alumni-sans;
                color: $primary-color;
                font-weight: 900;
                text-transform: uppercase;
                position: relative;
                opacity: 0;
                cursor: pointer;
                &::after {
                    content: "";
                    border-radius: 3px;
                    position: absolute;
                    width: 100%;
                    height: 3.5px;
                    left: 0;
                    bottom: -2px;
                    background-color: $accent-color;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.35s ease-in-out;
                }
                &:hover::after, 
                &:focus-visible::after {
                        transform: scaleX(1);
                        opacity: 1;
                    }
            }
        }
    }
    #containerAll {
        border: $border;
        border-radius: $border-radius;
        height: calc(100% - 20px);
        padding: 5px;
        margin: 10px;
        @include flex;
        #containerHome {
            height: 100%;
            z-index: 1;
            @include flex;
            h1 {
                color: $secondary-color;
                font-family: $alumni-sans;
                font-weight: 700;
                font-size: $h1;
                text-transform: uppercase;
                animation: textAnimation 1s ease-in-out forwards;
                &::after {
                    content: "";
                    border-radius: 3px;
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    left: 0;
                    opacity: 0;
                    bottom: 0px;
                    background-color: $secondary-color;
                    animation: underline 1s ease-in-out 1s forwards;
                    transition: transform 1s ease-in-out, opacity 0.3s ease-in-out;
                }
            }
            h2 {
                color: $accent-color;
                font-family: $alumni-sans;
                font-weight: 700;
                font-size: $h2;
                animation: textAnimation 1.5s ease-in-out forwards;
                &::after {
                    content: "";
                    border-radius: 3px;
                    position: absolute;
                    width: 60%;
                    height: 4px;
                    left: 0;
                    opacity: 0;
                    bottom: 4px;
                    background-color: $accent-color;
                    animation: underline 1s ease-in-out 1.5s forwards;
                    transition: transform 1s ease-in-out, opacity 0.3s ease-in-out;
                }
            }
        }
        #containerProjects {
            height: 0%;
            width: 50%;
            background-color: $secondary-color;
            position: absolute;
            border-radius: $border-radius;
            z-index: 11;
            opacity: 0;
            @include flex($align: end, $justify: start);
            filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.37));
            transition: all 0.5s ease-in-out;
            &.show {
                height: 90%;
                opacity: 1;
            }
            #containerSpan{
                height: 20px;
                width: 20px;
                margin: 20px;
                @include flex;
                transition: all 1.5s ease;
                animation: spinBack 1s ease forwards;
                cursor: pointer;
                &.hover {
                animation: spin 1s ease forwards;
            }
            }
            #span3 {
                display: block;
                position: absolute;
                background-color: $primary-color;
                width: 5px;
                height: 20px;
                border-radius: 10px;
                opacity: 1;
            }
            #span4 {
                display: block;
                position: absolute;
                background-color: $primary-color;
                width: 5px;
                height: 20px;
                border-radius: 10px;
                opacity: 1;
                transform: rotate(90deg) translate(0px, 0px);
            }
        }
        #containerDark{
            height: 100vh;
            width: 100%;
            position: absolute;
            background-color: rgb(0, 0, 0);
            opacity: 0;
            z-index: 1;
            transition: all 0.3s ease-in-out;
            &.show {
                opacity: 0.7;
                z-index: 7;
            }
        }
    }
