@import "./variables";
@import "./mixins";
@import "./keyframes";

#wrapper {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, $gradient-color, $primary-color);
    position: relative;
    #navBar {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        
        #spanContainer {
            position: absolute;
            height: 20px;
            width: 20px;
            margin: 10px;
            z-index: 5;
            @include flex;
            cursor: pointer;
            transition: all 1.5s ease;
            animation: spinBack 1s ease forwards;
            @include respond(md){
                opacity: 0;
            }
            #span1 {
                display: block;
                position: absolute;
                background-color: $secondary-color;
                width: 5px;
                height: 20px;
                border-radius: 10px;
                transition: all 1.5s ease;
                z-index: 2;
                transform: rotate(90deg) translate(0px, 0px);
                &.active {
                    background-color: $primary-color;
                }
            }
            #span2 {
                display: block;
                position: absolute;
                background-color: $secondary-color;
                width: 5px;
                height: 20px;
                border-radius: 10px;
                opacity: 1;
                transition: all 1s ease;
                z-index: 1;
                &.active {
                    background-color: $primary-color;
                    opacity: 0;
                }
            }
            &.hover {
                animation: spin 1s ease forwards;
            }
        }
        nav {
            @include flex;
            width: 0;
            background-color: $secondary-color;
            border-radius: 15px;
            position: absolute;
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            @include respond(md){
                animation: menuDesktop 2s ease-in-out 1s forwards;
                flex-direction: row;
                gap: 20px;
            }
            &.show {
                animation: menuMobile 2s ease-in-out forwards;
                a {
                    transition: opacity 0.5s ease 1s;
                    opacity: 1;
                }
            }
            &.hide {
                animation: menuMobileClose 2s ease-in-out forwards;
                a {
                    transition: opacity 0.2s ease 0.2s;
                    opacity: 0;
                }
            }
            }
            a {
                font-style: $alumni-sans;
                color: $primary-color;
                font-weight: 900;
                text-transform: uppercase;
                opacity: 0;
                @include respond(md) {
                    animation: textAnimation 2.5s ease-in-out 1s forwards;
                }
            }
        }
    }
    #containerAll {
        border: $border;
        border-radius: $border-radius;
        height: calc(100% - 20px);
        padding: 5px;
        margin: 10px;
        #containerHome {
            height: 100%;
            @include flex;
            h1 {
                color: $secondary-color;
                font-family: $alumni-sans;
                font-weight: 700;
                font-size: $h1;
                text-transform: uppercase;
                text-decoration: underline;
                text-underline-offset: 10px;
                text-decoration-thickness: 5px;
                animation: textAnimation 1s ease-in-out forwards;
            }
            h2 {
                color: $accent-color;
                font-family: $alumni-sans;
                font-weight: 700;
                font-size: $h2;
                text-decoration: underline;
                text-underline-offset: 10px;
                text-decoration-thickness: 5px;
                animation: textAnimation 1.5s ease-in-out forwards;
            }
        }
    }
